In [4]:
import numpy as np
import pandas as pd
import os 
import matplotlib.pyplot as plt 
from PIL import Image
%matplotlib inline

In [67]:

danwi = pd.read_csv('./5_danwi.csv')
bangmun = pd.read_csv('./5_bangmun.csv')

In [68]:
danwi.head(10)

,gubun,HID,PID,type1,type2,month,M_ID,q1,q2_a,q2_a_1,...,q10_4,q10_5,q10_6,q10_7,q10_8,q10_9,q10_10,q10_11,q10_12,wt
0,1.0,10001,1000101,4,1.0,1.0,101371.0,2.0,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201.607951
1,1.0,10001,1000101,1,2.0,7.0,101372.0,2.0,2017.0,7.0,...,4.0,4.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951
2,2.0,10001,1000101,1,2.0,8.0,115439.0,2.0,2017.0,8.0,...,4.0,4.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951
3,1.0,10001,1000101,4,2.0,10.0,115436.0,1.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201.607951
4,1.0,10001,1000101,1,2.0,10.0,115437.0,1.0,2017.0,10.0,...,9.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,6201.607951
5,2.0,10001,1000101,4,2.0,10.0,115440.0,1.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6201.607951
6,1.0,10001,1000102,4,1.0,1.0,101371.0,2.0,2017.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5886.547371
7,2.0,10001,1000102,4,1.0,4.0,101378.0,1.0,2017.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5886.547371
8,1.0,10001,1000102,1,2.0,7.0,101372.0,2.0,2017.0,7.0,...,4.0,4.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,5886.547371
9,1.0,10001,1000102,1,2.0,8.0,101365.0,1.0,2017.0,8.0,...,9.0,4.0,9.0,4.0,4.0,4.0,4.0,3.0,3.0,5886.547371

In [14]:
bangmun.head()

,HID,PID,type1,type2,month,M_ID,q6_1,q6_1_1,q6_1_2,q6_1_3,...,q6_6_17,q6_6_18,q6_6_19,q6_6_20,q6_6_21,q6_7,q6_8,q6_9,q7_2,wt
0,10001,1000101,1,2.0,8.0,115439.0,931.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0,6201.607951
1,10001,1000101,4,2.0,10.0,115440.0,931.0,10.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,6201.607951
2,10001,1000101,4,1.0,1.0,101371.0,911.0,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100000.0,6201.607951
3,10001,1000101,4,2.0,10.0,115436.0,911.0,20.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125000.0,6201.607951
4,10001,1000101,1,2.0,7.0,101372.0,932.0,30.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,650000.0,6201.607951

## data_overview 함수

In [12]:
def data_overview(data) : 
    print("rows :",data.shape[0])
    print("Features : ", data.columns.tolist())
    print("\n     The number of features : ", len(data.columns.tolist()))
    print("\nMissing values : \n", data.isnull().sum())
    print("\nUniquel values : \n", data.nunique())

## 2. Data Manipulation

In [26]:
# type1 이 국내여행인 경우만 뺌 
danwi = danwi.loc[danwi['type1'] == 1,:]

bangmun = bangmun.loc[bangmun['type1']==1,:]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

In [1]:
# inner join == 틀린 방법
merge = pd.merge(danwi,bangmun).head()

NameError: name 'pd' is not defined

In [34]:
## outer merge도 틀린 방법
outer_merge = pd.merge(danwi,bangmun,how = 'outer')

### Merge(danwi, bangmun)
- 단위랑 방문을 ["PID" , "MID"] 기준으로 left merge 를 함
- 중복되는 column=> (_x) 컬럼명 변경 / (_y) 삭제
- type1도 삭제! 어차피 다 똑같음

In [47]:
left_merge = pd.merge(danwi,bangmun, how="left", on = ["PID",'M_ID'])

In [56]:
# gubun을 지웠었는데 가족여행자 ==> 동행에 쓰임 일단 지우지 말것

drop_col = ["HID_x","HID_y" ,"type1_x","type1_y","type2_y","wt_y","month_y"]

In [57]:
# column drop 
left_merge = left_merge.drop(drop_col,axis=1)

In [60]:
# column 명 변경
left_merge.rename(columns = {"type2_x":"type2","month_x":"month","wt_x":"wt"})

In [61]:
left_merge.head(20)

,PID,type2,month,M_ID,q1,q2_a,q2_a_1,q2_a_2,q2_b,q2_b_1,...,q6_6_16,q6_6_17,q6_6_18,q6_6_19,q6_6_20,q6_6_21,q6_7,q6_8,q6_9,q7_2
0,1000101,2.0,7.0,101372.0,2.0,2017.0,7.0,1.0,2017.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,650000.0
1,1000101,2.0,8.0,115439.0,2.0,2017.0,8.0,4.0,2017.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0
2,1000101,2.0,10.0,115437.0,1.0,2017.0,10.0,5.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,60000.0
3,1000102,2.0,7.0,101372.0,2.0,2017.0,7.0,1.0,2017.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,650000.0
4,1000102,2.0,8.0,101365.0,1.0,2017.0,8.0,5.0,2017.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,120000.0
5,1000102,2.0,8.0,115434.0,1.0,2017.0,8.0,12.0,2017.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0
6,1000102,2.0,10.0,115437.0,1.0,2017.0,10.0,5.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,60000.0
7,1000102,2.0,12.0,115441.0,1.0,2017.0,12.0,23.0,2017.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,100000.0
8,1000201,1.0,5.0,110564.0,1.0,2017.0,5.0,1.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,20000.0
9,1000202,1.0,5.0,110564.0,1.0,2017.0,5.0,1.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,20000.0
10,1000203,2.0,10.0,123587.0,2.0,2017.0,10.0,3.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,600000.0
11,1000303,1.0,4.0,110795.0,2.0,2017.0,4.0,8.0,2017.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,3.0,300000.0
12,1000304,1.0,6.0,301114.0,1.0,2017.0,6.0,3.0,2017.0,6.0,...,NaN,17.0,NaN,NaN,NaN,NaN,5.0,5.0,5.0,50000.0
13,1000304,2.0,8.0,303657.0,2.0,2017.0,8.0,12.0,2017.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,5.0,5.0,60000.0
14,1000401,1.0,4.0,110798.0,2.0,2017.0,4.0,28.0,2017.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,1370000.0
15,1000401,1.0,5.0,110799.0,2.0,2017.0,5.0,19.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,3.0,75000.0
16,1000401,1.0,5.0,110800.0,1.0,2017.0,5.0,6.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,7500.0
17,1000402,1.0,5.0,110799.0,2.0,2017.0,5.0,19.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,3.0,3.0,75000.0
18,1000402,1.0,5.0,110800.0,1.0,2017.0,5.0,6.0,2017.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0,7500.0
19,1000402,2.0,10.0,123596.0,2.0,2017.0,10.0,16.0,2017.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4.0,4.0,4.0,120000.0

In [63]:
# csb 파일로 내보내기 
left_merge.to_csv("left_merge.csv",mode = "w")

In [62]:
data_overview(left_merge)

rows : 17705
Features :  ['PID', 'type2', 'month', 'M_ID', 'q1', 'q2_a', 'q2_a_1', 'q2_a_2', 'q2_b', 'q2_b_1', 'q2_b_2', 'q2_c_1', 'q2_c_2', 'q2_1_1', 'q2_1_2', 'q2_1_3', 'q2_1_4', 'q2_1_5', 'q3', 'q4_a', 'q4_b', 'q4_1_a', 'q4_1_b', 'q5', 'q5_1', 'q5_2_1', 'q5_2_2', 'q5_2_3', 'q5_2_4', 'q5_2_5', 'q5_2_6', 'q7', 'q7_1', 'q7_3_1', 'q7_3_2', 'q7_3_3', 'q7_3_4', 'q7_3_5', 'q7_3_6', 'q7_3_7', 'q7_3_8', 'q7_3_9', 'q7_3_10', 'q8', 'q8_1', 'q8_2', 'q8_3', 'q8_4', 'q8_5', 'q8_6', 'q8_7', 'q9', 'q9_1', 'q9_1_1', 'q9_1_2', 'q9_1_3', 'q9_1_4', 'q9_1_5', 'q9_2', 'q10_1', 'q10_2', 'q10_3', 'q10_4', 'q10_5', 'q10_6', 'q10_7', 'q10_8', 'q10_9', 'q10_10', 'q10_11', 'q10_12', 'wt', 'month_y', 'q6_1', 'q6_1_1', 'q6_1_2', 'q6_1_3', 'q6_1_4', 'q6_1_5', 'q6_1_6', 'q6_1_7', 'q6_1_8', 'q6_2', 'q6_3_a', 'q6_3_b', 'q6_3_c', 'q6_4', 'q6_5_1', 'q6_5_2', 'q6_5_3', 'q6_5_4', 'q6_5_5', 'q6_5_6', 'q6_5_7', 'q6_5_8', 'q6_5_9', 'q6_5_10', 'q6_5_11', 'q6_5_12', 'q6_5_13', 'q6_5_1a', 'q6_5_2a', 'q6_5_3a', 'q6_5_4a', 'q6_5_5a', 'q6_5_6a', 'q6_5_7a', 'q6_5_8a', 'q6_5_9a', 'q6_5_10a', 'q6_5_11a', 'q6_5_12a', 'q6_5_13a', 'q6_6_1', 'q6_6_2', 'q6_6_3', 'q6_6_4', 'q6_6_5', 'q6_6_6', 'q6_6_7', 'q6_6_8', 'q6_6_9', 'q6_6_10', 'q6_6_11', 'q6_6_12', 'q6_6_13', 'q6_6_14', 'q6_6_15', 'q6_6_16', 'q6_6_17', 'q6_6_18', 'q6_6_19', 'q6_6_20', 'q6_6_21', 'q6_7', 'q6_8', 'q6_9', 'q7_2']

     The number of features :  138

Missing values :
 PID             0
type2           0
month           0
M_ID            0
q1              0
q2_a            0
q2_a_1          0
q2_a_2          0
q2_b            0
q2_b_1          0
q2_b_2          0
q2_c_1          0
q2_c_2          0
q2_1_1       8525
q2_1_2       7584
q2_1_3      16677
q2_1_4      17160
q2_1_5      15828
q3              0
q4_a            0
q4_b            0
q4_1_a      15538
q4_1_b      15538
q5              0
q5_1            0
q5_2_1      12252
q5_2_2      17306
q5_2_3      15257
q5_2_4      17153
q5_2_5      17644
            ...
q6_5_9a     17576
q6_5_10a    17030
q6_5_11a    17470
q6_5_12a    17687
q6_5_13a    17367
q6_6_1       3200
q6_6_2       6841
q6_6_3      11392
q6_6_4      15359
q6_6_5      15286
q6_6_6      10782
q6_6_7      17066
q6_6_8      16744
q6_6_9      16233
q6_6_10     17416
q6_6_11     16689
q6_6_12     17183
q6_6_13     17105
q6_6_14     17700
q6_6_15     17570
q6_6_16     17523
q6_6_17     17030
q6_6_18     17678
q6_6_19     17612
q6_6_20     17214
q6_6_21     17119
q6_7            0
q6_8            0
q6_9            0
q7_2            0
Length: 138, dtype: int64

Uniquel values :
 PID          4601
type2           2
month          12
M_ID        11605
q1              2
q2_a            1
q2_a_1         12
q2_a_2         31
q2_b            1
q2_b_1         12
q2_b_2         31
q2_c_1         20
q2_c_2         20
q2_1_1          1
q2_1_2          1
q2_1_3          1
q2_1_4          1
q2_1_5          1
q3              3
q4_a           11
q4_b           11
q4_1_a          6
q4_1_b          7
q5              2
q5_1           68
q5_2_1          1
q5_2_2          1
q5_2_3          1
q5_2_4          1
q5_2_5          1
            ...
q6_5_9a         3
q6_5_10a       10
q6_5_11a        5
q6_5_12a        2
q6_5_13a       17
q6_6_1          1
q6_6_2          1
q6_6_3          1
q6_6_4          1
q6_6_5          1
q6_6_6          1
q6_6_7          1
q6_6_8          1
q6_6_9          1
q6_6_10         1
q6_6_11         1
q6_6_12         1
q6_6_13         1
q6_6_14         1
q6_6_15         1
q6_6_16         1
q6_6_17         1
q6_6_18         1
q6_6_19         1
q6_6_20         1
q6_6_21         1
q6_7            5
q6_8            5
q6_9            5
q7_2          698
Length: 138, dtype: int64

18-11-29 오늘까지 한것!
[11. 29. 목. 팀플 정리]

# 00) 0-5 중 개인화 자료만 선택
# 01) 방문지, 단위여행 데이터 2개 자료를 기준으로 전처리 시작
# 02) type1==1(국내 관광여행)만 추출
# 03) merging (총 세 번의 시도)
   a. outer merge : 방문지 데이터+단위여행 데이터 + 두 개 합친 데이터 // 다 나옴 
   b. PID, M_ID 기준으로 left merging 함!
# 04) merging 결과, 중복된 데이터들 제거(x, y로 나와서 y는 column 지우고 x는 이름 변경 / type1 도 다 똑같으니까, 지움)
# 05) 데이터 분석 (설명 적고 각각 특성 비교)